<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.powerpoint45.dtube">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:banner="@drawable/banner"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenLayout|keyboard|keyboardHidden|navigation|fontScale|mcc|mnc|locale|touchscreen|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.powerpoint45.dtube.VideoPlayActivity"
            android:label="@string/app_name"
            android:theme="@style/VideoPlayTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|screenLayout|keyboard|keyboardHidden|navigation|fontScale|mcc|mnc|locale|touchscreen|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.powerpoint45.dtube.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|screenLayout|keyboard|keyboardHidden|navigation|fontScale|mcc|mnc|locale|touchscreen|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.powerpoint45.dtube.ChannelActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:configChanges="orientation|screenLayout|keyboard|keyboardHidden|navigation|fontScale|mcc|mnc|locale|touchscreen|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.powerpoint45.dtube.SearchActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:configChanges="orientation|screenLayout|keyboard|keyboardHidden|navigation|fontScale|mcc|mnc|locale|touchscreen|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.powerpoint45.dtube.SimpleScannerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:configChanges="orientation|screenLayout|keyboard|keyboardHidden|navigation|fontScale|mcc|mnc|locale|touchscreen|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.powerpoint45.dtube.DonateActivity"
            android:label="@string/donate"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:configChanges="orientation|screenLayout|keyboard|keyboardHidden|navigation|fontScale|mcc|mnc|locale|touchscreen|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AboutActivity"
            android:label="@string/about"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:configChanges="orientation|screenLayout|keyboard|keyboardHidden|navigation|fontScale|mcc|mnc|locale|touchscreen|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>


    </application>

</manifest>